<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Pet Shop
            <img src="/img/logo.png" alt="Pet Shop Logo" style="height: 100px;">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                {{#if (equal user.role 'admin')}}
                <div class="dropdown ml-4 mr-4">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage orders
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">
                            <a class="" href="/ad/stored-orders">List orders</a>
                        </button>
                    </div>
                </div>

                <div class="dropdown ml-4 mr-4">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage products
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">
                            <a class="" href="/ad/create">Add New Product</a>
                        </button>
                        <button class="dropdown-item" type="button">
                            <a class="" href="/ad/stored-products">List Products</a>
                        </button>
                    </div>
                </div>

                <div class="dropdown ml-4 mr-4" >
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Manage categories
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <button class="dropdown-item" type="button">
                            <a class="" href="/ad/createcategory">Add New Category</a>
                        </button>
                        <button class="dropdown-item" type="button">
                            <a class="" href="/ad/stored-category">List Category</a>
                        </button>
                    </div>
                </div>
                {{/if}}

                {{#if user}}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/order/history">My orders</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/cart">Cart {{#if cart}} ({{cart.totalQty}}) {{/if}}</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/auth/logout" onclick="alert('Do you want to logout?')">Logout</a>
                </li>
                {{else}}
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/auth/login">Login</a>
                </li>
                <li class="nav-item mr-4">
                    <a class="nav-link" href="/auth/register">Register</a>
                </li>
                {{/if}}
        </div>
    </div>
</nav>
